body {
  background-color: #191970;
}

.body__inner {
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
  margin: 200px auto;
  padding: 20px;
}

h1,
th,
.todo-date {
  font-family: 'Lora', serif;
}

h1{
  font-weight: bold;
  font-size: 20px;
}

.todo-add{
  margin: 10px 0 20px;
}

.todo-add__input{
  width: 70%;
  height: 20px;
}

.btn{
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 9px;
}

.todo-add__btn {
  margin-left: 30px;
  color: #FF00FF;
  border-color: #FF00FF;
}

table{
  margin: 0 auto;
  width: 90%;
}

th{
  height: 30px;
  text-align: center;
}

th:nth-child(1),
td:nth-child(1){
  width: 30%;
}

th:nth-child(2),
td:nth-child(2){
  width: 50%;
}

th:nth-child(3),
th:nth-child(4),
td:nth-child(3),
td:nth-child(4) {
  width: 10%;
}

.todo-row{
  height: 40px;
  text-align: center;
}

.todo-date{
  font-size: 12px;
}

.todo-name{
  width: 200px;
}

.todo-update__btn{
  color: orange;
  border-color: orange;
}

.todo-delete__btn{
  color: aqua;
  border-color: aqua;
}

.error{
  color: red;
}